
/*

Navbar Section

*/

body {
    font-family: 'Montserrat', sans-serif;
}

.navhead{
    background-color:black;
    padding: 35px 0;
}
.navhead a{
    color: white;
    font-size: 20px;
}

.navhead .location{
    color: white;
    font-size: 35px;
}

.navhead .brandname{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.navhead a:hover{
    color: rgb(180, 177, 177);
    transition: 0.3s;
}

.head-bg img{
    display:block;
    width:100%;
    object-fit: cover;
    height: 100vh;
  }

.Header
{
    margin-bottom: 10.5%;
}


  /*
  Navbar section end

  */

  /*

  Carousel Start

.carousel-inner
{
    max-height: 30rem !important;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active{
    transition: transform 1.2s ease;
}
.carousel-indicators li{
    width: 40px;
    height: 6px;
}
.carousel-caption{
    position: absolute;
    top: 10%;
}
.bg-dark{
    background-color: rgba(0, 0, 0, .7) !important;
    border-radius: 1.5rem;
    padding: 1rem;
}
.bg-white{
    background-color: rgba(255, 255, 255, .65) !important;
    border-radius: 1.5rem;
    padding: 1rem;
}

.carousel-caption h3{
    font-weight: 300;
    font-size: 2.3rem;
}
p.lead{
    font-size: 1.4rem;
}

    carousel end
    */

/* 
  
Geeky show Carousel start */

.carousel{
    color: black;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 8px 19px 0 rgba(63, 63, 63, 0.6), 0 6px 20px 0 rgba(0,0,0,0.9);
}

.peopleCarouselImg img {
    width: auto;
    height: 500px;
    max-height: 500px;
  }

  .carousel-control-prev,
  .carousel-control-next
  {
      width: 50px;
      height: 50px;
      background-color: #000;
      border-radius: 50%;
      
      top: calc(50% - 25px) ;
  }
  .carousel-control-prev{
      left: 5%;
  }
  .carousel-control-next
  {
      right: 5%;
  }
 

  /*   Icons   */

  .icons{
      position: fixed;
      top: 30%;
      left: 0;
      width: 90px;
      display: flex;
      flex-direction: column;
  }
  .icons a{
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
      margin: 2px;
      text-align: right;
      border-radius: 0px 50px 50px 0px;
      transform: translate(-40px,0px);
  }
  .icons a:hover{
    transform: translate(0px,0px);
    transition: 0.6s;
  }
  .icons a i{
      margin-left: 20px;
      background-color: white;
      height: 30px;
      width: 30px;
      color: black;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
  }
  .icons a i.fa-facebook
  {
      color: #2C80D3;
  }
  .icons a i.fa-youtube-play
  {
      color: #fa0910;
  }
  .icons a i.fa-twitter
  {
      color: #53c5ff;
  }
  .icons a i.fa-instagram
  {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  }
  .icons a i.fa-linkedin
  {
      color: #0e76a8;
  }
  .facebook
  {
      background-color: #2C80D3;
      color: white;
  }
  .youtube
  {
      background-color: #fa0910;
      color: white;
  }
  .twitter
  {
      background-color: #53c5ff;
      color: white;
  }
  .instagram
  {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
      color: white;
  }
  .linkedin
  {
      background-color:#0e76a8;
      color: white;
  }

/*   icons end   */


/************WELCOME TEXT Start************/

  .welcome , .para1 {
      margin-top: 15%;
  }
  .para1{
      margin-bottom: 12%;
  }

  .welcome .welcome_text{
      font-weight: 700;
  }

  .welcome .welcome_para
  {
      line-height: 25px;
      font-weight: 600;
  }

  .para2 p{
      line-height: 30px;
  }
  .I1 img
  {
      width: 100%;
      height: 100%;
      color: black;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 2px 10px 0 rgba(63, 63, 63, 0.3), 0 2px 20px 0 rgba(0,0,0,0.3);
  }
  /*
  .para2
  {
      padding: 50px 5px ;
      width: 100%;
      height: 100%;
      
      box-shadow: 0 2px 10px 0 rgba(63, 63, 63, 0.3), 0 2px 20px 0 rgba(0,0,0,0.3);
      background-color: white
  }
  */
  




/********OUR PRODUCTS START**************/

.fashion-trends{
    padding: 100px 0px;
}
.fashion-box{
    margin: 80px 0px;
}
.title-style h1{
    padding: 40px 170px;
    

}
.title-style {
    margin: 0 auto 80px;
    height:120px;
    width: 80%;
    max-width: 700px;
    background: white;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(129, 129, 129, 0.952);
}
.title-style::after{
    content: "";
    height:100px;
    width: 200px;
    background: rgb(248, 173, 198);
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.title-style::before{
    content: "";
    height:100px;
    width: 200px;
    background: rgb(255, 158, 190);
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}


/********OUR PRODUCTS END*************/




/********Footer Start*********/

footer{
    font-family: Roboto , sans-serif;
}
.page-footer{
    margin-top: 10%;
}

footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: white;
}
.fb-ic , .tw-ic , .gplus-ic , .li-ic , .ins-ic{
    color: white !important;
}
hr{
    background-color: #6351ce !important;
}

